/* POLICE */

	html
	{
		overflow-x: hidden;
	}

	body
	{
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		margin: 0;
	}

	header, section
	{
		max-width: 1400px;
		margin: auto;
	}

	h2
	{
		font-size: 22px;
	}




 /********** HEADER **********/

 /*LOGO ET NAVIGATION*/


header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.logo img
{
	height: 45px;
	width: 95px;
	position: absolute;
	margin-top: 35px;
	margin-left: 60px;
}

.menu
{
	margin-right: 40px;
}

.menu ul
{
	display: flex;
	flex-direction: row;
}

.menu li 
{
	margin-top: 25px;
	padding-left: 10px;
	list-style: none;

}

.hebergements, .activites
{
	text-decoration: none;
	box-shadow: none;
	color: black;
	padding: 30px;
}


.menu a:hover
{
	color: #0065FC;
	border-top: 2px #0065FC solid;
	padding-top: 47px;
}


/*HEADER RESPONSIVE TABLETTE*/

@media screen and (min-width: 768px) and (max-width: 992px)
{
	.menu
	{
		margin-right: 0;
	}

	.logo img
	{
		width: 127px;
		height: 60px;
	}

	header
	{
		width: 100%;
		font-size: 22px;
	}

	.menu
	{
		margin-right: 40px;
	}

	.menu a:hover
	{
		padding-top: 53px;
	}
}


/*HEADER RESPONSIVE MOBILE*/

@media screen and (max-width: 767px)
{
	body
	{
		margin: 0;
	}

	header
	{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		text-align: center;
	}

	.logo
	{
		margin-left: 0;
		width: 100%;
	}

	.logo img
	{
		position: relative;
		width: 150px;
		height: 80px;
		margin-top: 12px;
		margin-left: 15%;
	}

	.menu
	{
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		font-size: 20px;
		width: 100%;
	}

	.menu li
	{
		margin: 0;
		border-bottom: 6px #F2F2F2 solid;
		padding-bottom: 22px;
		padding-left: 0;
		width: 50%;
		text-align: center;
	}

	.menu ul 
	{
		padding-left: 0;
	}

	.hebergements, .activites
	{
		padding: 0;
	
	}
	
	.menu a:hover {
		border-top: none;
	}

	.menu li:hover
	{
		border-top: 0;
		border-bottom: 6px #0065FC solid;
		padding-bottom: 22px;
	}

}

	/*FIN DU RESPONSIVE HEADER*/

	/*FIN DU HEADER*/

	
	/*SECTION*/

	/*PRESENTATION*/

.presentation 
{
	margin-left: 40px;
	margin-top: 50px;
	line-height: 12px;
}

	/*BARRE DE RECHERCHE*/

#logo_loupe_mobile, #logo_position_mobile
{
	display: none;
}

#logo_position
{
	position: absolute;
	margin-left: 40px;
	background-color: #F2F2F2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 50px;
	width: 56px;
}

#logo_position svg
{
	height: 25px;
	width: 25px;
	margin-left: 15px;
}

.recherche svg
{
	margin-left: 15px;
	margin-top: 15px;
}	

form
{
	display: flex;
	flex-direction: row;
	margin-left: 95px;
	margin-top: 25px;
}

#champ_mobile
{
	display: none;
}

#champ input
{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	border-width: 1px;
	border-color: #F2F2F2;
	box-shadow: none;
	width: 250px;
	height: 46px;
	padding-left: 15px;
}

#bouton input
{
	display: inline-block;
	width: 130px;
	height: 50px;
	background-color:#0065FC;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-style: none;
	color: white;
	font-weight: 600;
	font-size: 18px;
}

#logo_loupe
{
	display: none;
}

	/*FILTRES*/


.filtres h3
{
	margin-left: 40px;
	margin-top: 42px;
}

.filtres
{
	display: flex;
	flex-direction: row;
}

.barres_filtres
{
	display: flex;
	flex-direction: row;
	margin-top: 25px;
}

.filtres figure
{
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: 18px;
	border: 2px #F2F2F2 solid;
	border-radius: 30px;
	margin-left: 30px;
	margin-top: 5px;
	margin-right: -15px;
	height: 46px;
}

.filtres figcaption
{
	padding-right: 15px;
	padding-top: 13px;
	padding-bottom: 8px;
}


.filtres i
{
	margin-left: -2px;
	margin-right: 15px;
	margin-top: -1px;
	padding-top: 25px;
	padding-left: 16px;
	height: 23px;
	width: 36px;
	color: #0065FC;
	background-color: #DEEBFF;
	background-position: center;
	border-radius: 30px;
}

.filtres a
{
	text-decoration: none;
	color: black;
}

.filtres a:hover
{
	color: #0065FC;
}


	/*PHRASE INFORMATION*/

.phrase_information i
{
	position: absolute;
	margin-left: 40px;
	margin-top: -2px;
	padding-left: 7px;
	color: #0065FC;
	border: 2px #F2F2F2 solid;
	border-radius: 50px;
	height: 20px;
	width: 13px;
}

.phrase_information p
{
	margin-top: 30px;
	margin-left: 80px;
}


	/*BLOC HEBERGEMENTS ET POPULAIRES*/

.bloc_hebergements_et_populaires
{
	display: flex;
	flex-direction: row;
	max-width: 1400px;
	margin-left: 40px;
	margin-right: 40px;
}


.annonces_hebergements
{
	width: 75%;
	background-color: #F2F2F2;
	border-radius: 20px;
	margin-top: 25px;
}

.photos_hebergements
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.photos_hebergements figure
{
	margin-inline: 0;
}

.photos_hebergements a
{
	width: 29%;
}

.photos_hebergements a, .photos_populaires a, .photos_activites_ordi a, .photos_activites_mobile a
{
	text-decoration: none;
	color: black;
}

#hebergements_a_marseille, #les_plus_populaires
{
	margin-left: 35px;
	padding-top: 20px;
	padding-bottom: 15px;
	font-size: 22px;
	font-weight: 700;
}

.annonces_hebergements figcaption
{
	padding-top: 6px;
	padding-left: 6px;
	line-height: 22px;
}


.deuxieme_ligne_photo
{
	font-size: 14px;
}

.ligne_un, .ligne_deux
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

.ligne_un
{
	padding-bottom: 30px;
}

.image_hebergement
{
	width: 100%;
	height: 200px;
	margin: 0;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.image_hebergement img
{
	width: 98%;
	height: 120px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}

.etoile_grise
{
	color: #F2F2F2;
}


.photos_hebergements .etoiles
{
	padding-top: 0px;
	color: #0065FC;
}

.photos_populaires .etoiles
{
	padding-top: 20px;
	color: #0065FC;
}


#afficher_plus 
{
	font-size: 18px;
	padding-top: 15px;
	margin-left: 45px;
	margin-bottom: 40px;
}


	/*LES PLUS POPULAIRES*/

.populaires
{
	display: flex;
	flex-direction: column;
	margin-left: 45px;
	margin-top: 25px;
	width: 35%;
	background-color: #F2F2F2;
	border-radius: 20px;
}

#etoile_populaire
{
	font-size: 25px;
	margin-left: 84%;
	margin-top: -50px;
}

.photos_populaires a
{
	display: flex;
	justify-content: center;
	margin-left: 27px;
	width: 90%;
}


.photos_populaires
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-top: 22px;
}


.rectangle_populaire
{
	display: flex;
	justify-content: center;
	margin-bottom: 28px;
	margin-right: 30px;
}


.photos_populaires figcaption
{
	width: 50%;
	padding-left: 20px;
	padding-top: 15px;
}

.photos_populaires span
{
	line-height: 35px;
}


.image_populaire, .image_populaire_solo
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 140px;
	margin: 0;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.image_populaire img, .image_populaire_solo img
{
	width: 40%;
	height: 135px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	object-fit: cover;
}


	/*ANNONCES ACTIVITES*/

#pic11_tablette, #pic12_tablette, #pic14_tablette, #pic15_tablette
{
	display: none;
}

.annonces_activites
{
	max-width: 1400px;
	margin-right: 40px;
	margin-left: 40px;
}

.photos_activites_ordi
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.photos_activites_ordi a
{
	margin-bottom: 40px;
}

.groupe_deux, .groupe_quatre
{
	display: flex;
	flex-direction: column;
}

.groupe_un, .groupe_deux, .groupe_trois, .groupe_quatre
{
	width: 22.5%;
}

#activites_a_marseille
{
	font-size: 22px;
	font-weight: 700;
	margin-top: 60px;
}

.photos_activites_ordi figure
{
	width: 100%;
	margin: 0;
}

.pic10, .pic13
{
	height: 427px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic11
{
	height: 230px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic12
{
	height: 156px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic14
{
	height: 190px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic15
{
	height: 196px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic11 figcaption, .pic13 figcaption, .pic14 figcaption
{
	width: 85%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.pic10 img, .pic11 img, .pic12 img, .pic13 img, .pic14 img, .pic15 img
{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}

.pic10 img, .pic13 img
{
	width: 100%;
	height: 372px;
}

.pic11 img
{
	width: 100%;
	height: 180px;
}

.pic12 img
{
	width: 100%;
	height: 102px;
}

.pic14 img
{
	width: 100%;
	height: 140px;
}

.pic15 img
{
	width: 100%;
	height: 142px;
}

.photos_activites_ordi figcaption
{
	padding-left: 20px;
	padding-top: 15px;
}

.photos_activites_mobile
{
	display: none;
}


	/*MAIN RESPONSIVE REDUCTION*/

@media screen and (min-width: 992px) and (max-width: 1260px)
{

	.photos_hebergements a
	{
		width: 100%;
		margin-bottom: 25px;
	}

	.photos_hebergements
	{
		display: flex;
		flex-wrap: nowrap;
		margin-left: 15px;
		margin-right: 15px;
		padding-bottom: 0;
	}

	.ligne_un, .ligne_deux
	{
		display: flex;
		flex-direction: column;
	}

	.ligne_un
	{
		padding: 0;
	}

	#afficher_plus
	{
		margin-bottom: 40px;
		padding-top: 0;
	}

	.photos_populaires
	{
		margin-top: 0;
	}

	.image_populaire, .image_populaire_solo
	{
		display: flex;
		flex-direction: column;
		height: 220px;
	}

	.image_populaire img, .image_populaire_solo img
	{
		height: 120px;
		width: 98%;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
	}

	.image_populaire figcaption, .image_populaire_solo figcaption
	{
		padding-top: 10px;
		padding-left: 6px;
		width: 90%;
		line-height: 22px;
	}

	.image_populaire span, .image_populaire_solo span
	{
		line-height: 15px;
	}

	.image_populaire .etoiles, .image_populaire_solo .etoiles
	{
		padding: 0;
	}

	#etoile_populaire
	{
		display: none;
	}

}


	/*MAIN RESPONSIVE TABLETTE*/

@media screen and (min-width: 768px) and (max-width: 991px)
{	
	.presentation h2
	{
		font-size: 26px;
	}

	.presentation p
	{
		font-size: 20px;
	}

	.recherche
	{
		margin-top: 50px;
	}

	.filtres
	{
		width: 90%;
		margin-top: 20px;
	}

	.barres_filtres
	{
		display: flex;
		flex-wrap: wrap;
	}

	.phrase_information p
	{
		margin-top: 30px;
		font-size: 18px;
	}

	.phrase_information i
	{
		margin-left: 50px;
	}

	.bloc_hebergements_et_populaires
	{
		display: flex;
		flex-direction: column;
	}

	#hebergements_a_marseille, #les_plus_populaires
	{
		margin-left: 45px;
	}

	.annonces_hebergements, .populaires
	{
		width: 100%;
	}

	.populaires
	{
		margin-left: 0;
	}

	.photos_hebergements a
	{
		width: 100%;
		margin-bottom: 25px;
	}

	.image_hebergement
	{
		height: 200px;
	}

	.photos_hebergements
	{
		display: flex;
		flex-wrap: nowrap;
		margin-left: 25px;
		margin-right: 25px;
		padding-bottom: 0;
	}

	.ligne_un, .ligne_deux
	{
		display: flex;
		flex-direction: column;
	}

	.ligne_un
	{
		padding: 0;
	}

	#afficher_plus
	{
		margin-bottom: 40px;
		padding-top: 0;
	}

	#etoile_populaire
	{
		display: none;
	}

	.image_populaire, .image_populaire_solo
	{
		display: flex;
		flex-direction: row;
		height: 150px;
	}

	.image_populaire img
	{
		width: 180px; 
		height: 145px;
	}

	.image_populaire_solo img
	{
		width: 0;
		min-width: 180px;
		height: 145px;
	}

	.image_populaire figcaption, .image_populaire_solo figcaption
	{
		padding-top: 10px;
		padding-left: 15px;
		width: 90%;
		line-height: 25px;
		font-size: 20px;
	}

	.image_populaire span, .image_populaire_solo span
	{
		font-size: 18px;
	}

	.image_populaire .etoiles, .image_populaire_solo .etoiles
	{
		padding-top: 40px;
	}

	.photos_populaires
	{
		margin-top: 0;
		padding-bottom: 20px;
	}

	#pic11_ordi, #pic12_ordi, #pic14_ordi, #pic15_ordi
	{
		display: none;
	}

	#pic11_tablette, #pic12_tablette, #pic14_tablette, #pic15_tablette
	{
		display: flex;
	}

	#activites_a_marseille
	{
		margin-bottom: 40px;
	}

	.photos_activites_ordi
	{
		display: flex;
		flex-direction: column;
	}

	.groupe_un, .groupe_deux, .groupe_trois, .groupe_quatre
	{
		width: 100%;
	}

	.groupe_un, .groupe_trois
	{
		margin-bottom: 40px;
	}

	.photos_activites_ordi figure
	{
		height: 220px;
	}

	.photos_activites_ordi img
	{
		height: 160px;
	}


	.photos_activites_ordi figure
	{
		width: 100%;
	}

}



	/* MAIN RESPONSIVE MOBILE*/

@media screen and (max-width: 767px)
{
	h2
	{
		width: 100%;
		font-size: 25px;
		line-height: 30px;
	}

	.menu
	{
		margin-right: 0;
	}

	.presentation
	{
		width: 90%;
		font-size: 18px;
		line-height: 20px;
		margin-top: 0;
		margin-left: 25px;
	}

	form
	{
		margin-left: 70px;
		margin-top: 0;
	}

	#champ
	{
		display: none;
	}

	#champ_mobile
	{
		display: flex;
		height: 60px;
		margin-top: 30px;
		width: 85%;
	}

	#champ_mobile input
	{
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: 20px;
		border-color: #F2F2F2;
		border-width: 1px;
		padding-left: 25px;
		width: 90%;
	}

	#bouton
	{
		display: none;
	}

	#logo_position
	{
		display: none;
	}

	#logo_position_mobile
	{
		display: flex;
		position: absolute;
		background-color: #F2F2F2;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		margin-top: 29px;
		margin-left: 20px;
		height: 61px;
		width: 60px;
	}

	#logo_position_mobile svg
	{
		width: 25px;
		height: 40px;
		margin-top: 10px;
		margin-left: 18px;
	}

	#logo_loupe_mobile
	{
		display: flex;
		margin-top: 30px;
		margin-left: -30px;
		color: #FFFFFF;
		background-color: #0065FC;
		border-radius: 20px;
		width: 60px;
		height: 60px;
	}

	#logo_loupe_mobile svg
	{
		height: 40px;
		width: 25px;
		position: relative;
		margin-left: 18px;
		margin-top: 10px;
	}

	.filtres
	{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.barres_filtres
	{
		display: flex;
		flex-wrap: wrap;
		margin-top: 0px;
	}

	.filtres h3
	{
		font-size: 20px;
		margin-left: 30px;
	}

	.filtres figure
	{
		height: 50px;
		margin-left: 25px;
		border-width: 3px;
		border-radius: 55px;
	}

	.filtres figcaption
	{
		font-size: 18px;
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 14px;
	}

	.filtres i
	{
		font-size: 24px;
		height: 28px;
		width: 39px;
		margin-left: -5px;
		margin-right: 6px;
		border-radius: 60px;
		padding-left: 15px;
		padding-top: 25px;
	}

	#logo_animaux_autorises
	{
		height: 30px;
		width:  42px;
	}

	.phrase_information p
	{
		margin-top: 20px;
		margin-left: 65px;
		font-size: 17px;
		margin-right: 10px;
	}

	.phrase_information i
	{
		margin-left: 25px;
		font-size: 18px;
		padding-left: 10px;
		padding-top: 2px;
		height: 22px;
		width: 15px;
	}

	.bloc_hebergements_et_populaires
	{
		display: inline-flex;
		flex-direction: column;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.populaires p, .annonces_hebergements p
	{
		font-size: 23px;
	}

	#etoile_populaire
	{
		font-size: 26px;
		margin-left: 86%;
		margin-top: -50px;
	}

	.populaires
	{
		order: -1;
		margin-left: 0px;
		width: 100%;
		border-radius: 0px;
	}

	.populaires figcaption
	{
		padding-top: 10px;
		padding-left: 15px;
	}

	.populaires figcaption, .annonces_hebergements figcaption, #afficher_plus p, .annonces_activites figcaption
	{
		font-size: 17px;
	}

	.populaires span, .annonces_hebergements span
	{
		font-size: 14px;
		line-height: 35px;
	}

	.rectangle_populaire
	{
		display: flex;
		justify-content: initial;
		margin-bottom: 15px;
		margin-right: 0;
	}

	.photos_populaires
	{
		margin-top: 20px;
		padding-bottom: 25px;
	}

	.photos_populaires a
	{
		margin-left: 30px;
		width: 87%;
	}

	.photos_populaires i
	{
		line-height: 25px;
	}

	.image_populaire, .image_populaire_solo
	{
		height: 140px;
	}

	.image_populaire img, .image_populaire_solo img
	{
		height: 135px;
	}

	#hebergements_a_marseille
	{
		padding-bottom: 0;
	}

	#les_plus_populaires, #hebergements_a_marseille
	{
		margin-left: 30px;
	}

	.annonces_hebergements
	{
		background-color: #FFFFFF;
		width: 100%;
		margin-top: 0;
	}

	.ligne_un
	{
		padding-bottom: 0;
	}

	.ligne_un, .ligne_deux
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.image_hebergement
	{
		height: 180px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.image_hebergement img
	{
		width: 100%;
		height: 100px;
	}

	.photos_hebergements
	{
		display: flex;
		flex-direction: column;
		margin-left: 30px;
	}

	.photos_hebergements a
	{
		width: 90%;
		margin-bottom: 20px;
	}

	.photos_hebergements figcaption
	{
		padding-left: 15px;
	}

	.annonces_hebergements figcaption, .annonces_hebergements span
	{
		line-height: 20px;
		padding-top: 4px;
	}

	.annonces_hebergements i
	{
		line-height: 16px;
	}

	#afficher_plus
	{
		margin-left: 30px;
		padding-top: 0;
	}

	#afficher_plus p
	{
		font-size: 20px;
	}

	.annonces_activites
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: 0;
	}

	#activites_a_marseille
	{
		margin-top: 0px;
		margin-left: 30px;
		margin-bottom: 10px;
		font-size: 22px;
	}

	.photos_activites_ordi
	{
		display: none ;
	}

	.photos_activites_mobile
	{
		display: flex;
		flex-direction: column;
		width: 92%;
		margin-left: 30px;
	}

	.photos_activites_mobile figure
	{
		margin-inline: 0;
		margin: 0;
	}

	.photos_activites_mobile a
	{
		margin-bottom: 30px;
	}

	.pic_mobile1, .pic_mobile2, .pic_mobile3, .pic_mobile4, .pic_mobile5, .pic_mobile6
	{
		width: 94
		%;
		height: 190px;
		background-color: #FFFFFF;
		border-radius: 20px;
		box-shadow: 0px 0px 8px lightgrey;
	}

	.pic_mobile1 img, .pic_mobile2 img, .pic_mobile3 img, .pic_mobile4 img, .pic_mobile5 img, .pic_mobile6 img
	{
		width: 100%;
		height: 140px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		object-fit: cover;
	}

	.photos_activites_mobile figcaption
	{
		padding-top: 10px;
		padding-left: 15px;
	}

}

	@media screen and (max-width: 320px)
	{
		.image_populaire
		{
			height: 170px;
		}

		.image_populaire img
		{
			height: 165px;
		}
	}

	/*FIN DU MAIN*/


	
	/********** FOOTER **********/

	footer
	{
		display: flex;
		justify-content: space-around;
		background-color: #F2F2F2;
		width: 100%;
		margin-top: 40px;
		padding-top: 20px;
		height: 200px;
	}

	footer p
	{
		margin-top: -40px;
	}

	footer a
	{
		text-decoration: none;
		color: black;
	}

	.contenu_footer
	{
		width: 100%;
		max-width: 1350px;
		margin-left: 35px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		justify-content: flex-start;
	}

	.a_propos, .nos_hebergements, .assistance
	{
		width: 400px;
		line-height: 30px;
	}


	/*FOOTER RESPONSIVE REDUCTION*/


@media screen and (min-width: 992px) and (max-width: 1260px)
{
	.contenu_footer
	{
		margin-left: 75px;
	}
}


	/*FOOTER RESPONSIVE TABLETTE*/

@media screen and (min-width: 768px) and (max-width: 991px)
{
	.contenu_footer
	{
		display: flex;
		justify-content: space-around;
		margin-left: 35px;
	}
}



	/*FOOTER RESPONSIVE MOBILE*/

@media screen and (max-width: 767px)
{
	footer
	{
		font-size: 17px;
		width: 100%;
		height: 560px;
	}

	footer p
	{
		line-height: 30px;
	}

	.a_propos, .nos_hebergements, .assistance
	{
		margin-left: 40px;
	}

	.contenu_footer
	{
		display: flex;
		flex-direction: column;
	}

}

	/*FIN DU FOOTER*/
