/* POLICE */

	html
	{
		overflow-x: hidden;
	}

	header, body
	{
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
	}

	h2
	{
		font-size: 22px;
	}




 /********** HEADER **********/

 /*LOGO ET NAVIGATION*/


header
{
	width: 73%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.logo img
{
	height: 45px;
	width: 95px;
	position: absolute;
	margin-top: 35px;
	margin-left: 60px;
}

.menu ul
{
	display: flex;
	flex-direction: row;
}

.menu li 
{
	margin-top: 25px;
	padding-left: 10px;
	list-style: none;

}

.hebergements, .activites
{
	text-decoration: none;
	box-shadow: none;
	color: black;
	padding: 30px;
}


.menu a:hover
{
	color: #0065FC;
	border-top: 2px #0065FC solid;
	padding-top: 47px;
}


/*HEADER RESPONSIVE TABLETTE*/

@media screen and (min-width: 769px) and (max-width: 992px)
{
	.logo img
	{
		width: 127px;
		height: 60px;
	}

	header
	{
		width: 100%;
		font-size: 22px;
	}

	.menu
	{
		margin-right: 10%;
	}

	.menu a:hover
	{
		padding-top: 53px;
	}
}


/*HEADER RESPONSIVE MOBILE*/

@media screen and (max-width: 768px)
{
	body
	{
		margin: 0;
	}

	header
	{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		text-align: center;
	}

	.logo
	{
		margin-left: 0;
		width: 100%;
	}

	.logo img
	{
		position: relative;
		width: 150px;
		height: 80px;
		margin-top: 12px;
		margin-left: 15%;
	}

	.menu
	{
		margin-left: 0;
		margin-top: 0;
		font-size: 20px;
		width: 100%;
	}

	.menu li
	{
		margin: 0;
		border-bottom: 6px #F2F2F2 solid;
		padding-bottom: 22px;
		padding-left: 0;
		width: 50%;
		text-align: center;
	}

	.menu ul 
	{
		padding-left: 0;
	}

	.hebergements, .activites
	{
		padding: 0;
	}

	.menu a:hover
	{
		border-top: 0;
		border-bottom: 6px #0065FC solid;
		padding-bottom: 22px;
	}

}

	/*FIN DU RESPONSIVE HEADER*/

	/*FIN DU HEADER*/

	
	

	/*PRESENTATION*/

.presentation 
{
	margin-left: 20px;
	margin-top: 50px;
	line-height: 12px;
}

	/*BARRE DE RECHERCHE*/

#logo_loupe_mobile, #logo_position_mobile
{
	display: none;
}

#logo_position
{
	position: absolute;
	margin-left: 48px;
	background-color: #F2F2F2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 50px;
	width:  50px;
}

#logo_position svg
{
	height: 25px;
	width: 25px;
	margin-left: 15px;
}

.recherche svg
{
	margin-left: 15px;
	margin-top: 15px;
}	

form
{
	display: flex;
	flex-direction: row;
	margin-left: 95px;
	margin-top: 25px;
}

#champ_mobile
{
	display: none;
}

#champ input
{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	border-width: 1px;
	border-color: #F2F2F2;
	box-shadow: none;
	width: 240px;
	height: 46px;
}

#bouton input
{
	display: inline-block;
	width: 130px;
	height: 50px;
	background-color:#0065FC;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-style: none;
	color: white;
	font-weight: 600;
	font-size: 18px;
}

#logo_loupe
{
	display: none;
}

	/*FILTRES*/


.filtres h3
{
	margin-left: 50px;
	margin-top: 42px;
}

.filtres
{
	display: flex;
	flex-direction: row;
}

.barres_filtres
{
	display: flex;
	flex-direction: row;
	margin-top: 25px;
}

.filtres figure
{
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: 18px;
	border: 2px #F2F2F2 solid;
	border-radius: 30px;
	margin-left: 30px;
	margin-top: 5px;
	margin-right: -15px;
	height: 46px;
}

.filtres figcaption
{
	padding-right: 15px;
	padding-top: 13px;
	padding-bottom: 8px;
}


.filtres i
{
	margin-left: -2px;
	margin-right: 15px;
	margin-top: -1px;
	padding-top: 25px;
	padding-left: 16px;
	height: 23px;
	width: 36px;
	color: #0065FC;
	background-color: #DEEBFF;
	background-position: center;
	border-radius: 30px;
}

.filtres a
{
	text-decoration: none;
	color: black;
}

.filtres a:hover
{
	color: #0065FC;
}


	/*PHRASE INFORMATION*/

.phrase_information i
{
	position: absolute;
	margin-left: 60px;
	margin-top: -2px;
	padding-left: 7px;
	color: #0065FC;
	border: 2px #F2F2F2 solid;
	border-radius: 50px;
	height: 20px;
	width: 13px;
}

.phrase_information p
{
	margin-top: 30px;
	margin-left: 92px;
}


	/*BLOC HEBERGEMENTS ET POPULAIRES*/

.bloc_hebergements_et_populaires
{
	display: flex;
	flex-direction: row;
}


.annonces_hebergements
{
	margin-left: 45px;
	margin-top: 25px;
	height: 640px;
	width: 100%;
	background-color: #F2F2F2;
	border-radius: 20px;
}

.photos_hebergements
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.photos_hebergements a, .photos_populaires a, .photos_activites_ordi a, .photos_activites_mobile a
{
	text-decoration: none;
	color: black;
}

.annonces_hebergements p, .populaires p
{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 22px;
	font-weight: 700;
}

.annonces_hebergements figcaption
{
	padding-top: 6px;
	padding-left: 6px;
	line-height: 22px;
}


.deuxieme_ligne_photo
{
	font-size: 14px;
}

.pic1
{
	width: 235px;
	height: 200px;
	margin-left: 35px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic2
{
	width: 235px;
	height: 200px;
	margin-left: -5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic3
{
	width: 235px;
	height: 200px;
	margin-left: -5px;
	margin-right: 40px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic4
{
	width: 235px;
	height: 200px;
	margin-left: 35px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic5
{
	width: 235px;
	height: 200px;
	margin-left: -5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic6
{
	width: 235px;
	height: 200px;
	margin-left: -5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic1 img, .pic2 img, .pic3 img, .pic4 img, .pic5 img, .pic6 img
{
	width: 230px;
	height: 120px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.etoile_grise
{
	color: #F2F2F2;
}


.photos_hebergements .etoiles
{
	padding-top: 0px;
	color: #0065FC;
}

.photos_populaires .etoiles
{
	padding-top: 10px;
	color: #0065FC;
}

#afficher_plus p
{
	font-size: 18px;
	padding-top: 2px;
	padding-left: 38px;
}


	/*LES PLUS POPULAIRES*/

.populaires
{
	margin-left: 45px;
	margin-top: 25px;
	height: 640px;
	width: 50%;
	background-color: #F2F2F2;
	border-radius: 20px;
}

#etoile_populaire
{
	margin-left: 350px;
	margin-top: -45px;
}


.photos_populaires
{
	margin-top: 45px;
	margin-left: 0px;
}

.photos_populaires figcaption
{
	padding-left: 30px;
	padding-top: 15px;
}

.photos_populaires span
{
	line-height: 35px;
}

.photos_populaires i
{
	line-height: 50px;
}

.pic7
{
	display: flex;
	flex-direction: row;
	width: 330px;
	height: 140px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic8
{
	display: flex;
	flex-direction: row;
	width: 330px;
	height: 140px;
	margin-top: 30px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic9
{
	display: flex;
	flex-direction: row;
	width: 330px;
	height: 140px;
	margin-top: 30px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 1px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic7 img, .pic8 img, .pic9 img
{
	width: 120px;
	height: 135px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}


	/*ANNONCES ACTIVITES*/

.photos_activites_ordi
{
	display: flex;
	flex-direction: row;
}

#activites_a_marseille
{
	font-size: 22px;
	font-weight: 700;
	margin-left: 45px;
	margin-top: 60px;
}

.pic10
{
	width: 300px;
	height: 430px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic11
{
	width: 300px;
	height: 230px;
	margin-left: 8px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic12
{
	width: 300px;
	height: 152px;
	margin-top: 295px;
	margin-left: -342px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic13
{
	width: 300px;
	height: 430px;
	margin-left: 8px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic14
{
	width: 300px;
	height: 190px;
	margin-left: 10px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic15
{
	width: 300px;
	height: 195px;
	margin-top: 250px;
	margin-left: -340px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 0px 8px lightgrey;
}

.pic10 img, .pic11 img, .pic12 img, .pic13 img, .pic14 img, .pic15 img
{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.pic10 img, .pic13 img
{
	width: 300px;
	height: 380px;
}

.pic11 img
{
	width: 300px;
	height: 180px;
}

.pic12 img
{
	width: 300px;
	height: 102px;
}

.pic14 img
{
	width: 300px;
	height: 140px;
}

.pic15 img
{
	width: 300px;
	height: 145px;
}

.photos_activites_ordi figcaption
{
	padding-left: 20px;
	padding-top: 15px;
}

.photos_activites_mobile
{
	display: none;
}


	/*MAIN RESPONSIVE REDUCTION D'ECRAN*/

@media screen and (min-width: 1410px) and (max-width: 1424px)
{
	.annonces_activites
	{
		margin-top: 250px;
	}

	.annonces_hebergements
	{
		height: 900px;
	}

	.pic3, .pic5
	{
		margin-left: 35px;
	}

	.pic2, .pic4, .pic6
	{
		margin-left: 0px;
	}

	#afficher_plus
	{
		margin-top: 250px;
		margin-left: -600px;
	}
}

@media screen and (min-width: 1171px) and (max-width: 1410px)
{
	.annonces_hebergements
	{
		position: relative;
		height: 850px;
	}

	.pic2, .pic3, .pic4, .pic5, .pic6
	{
		margin-left: 35px;
	}

	#afficher_plus 
	{
		position: absolute;
		padding-left: 5px;
		padding-top: 700px;
	}

	.photos_activites_ordi
	{
		display: flex;
		flex-wrap: wrap;
	}

	.pic14
	{
		margin-left: 40px;
	}

	.pic15
	{
		margin-left: 5px;
		margin-top: 20px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1170px)
{
	.annonces_hebergements
	{
		position: relative;
		height: 1580px;
	}

	.pic2, .pic3, .pic4, .pic5, .pic6
	{
		margin-left: 35px;
	}

	#afficher_plus 
	{
		position: absolute;
		padding-left: 5px;
		padding-top: 1420px;
	}

	.photos_activites_ordi
	{
		display: flex;
		flex-wrap: wrap;
	}

	.pic13
	{
		margin-left: 40px;
	}

	.pic14
	{
		margin-left: 40px;
	}

	.pic15
	{
		margin-left: -340px;
		margin-top: 240px;
	}
}

@media screen and (min-width: 904px) and (max-width: 991px)
{
	#afficher_plus
	{
		margin-top: 240px;
		margin-left: -320px;
	}
}



	/*MAIN RESPONSIVE TABLETTE*/

@media screen and (min-width: 769px) and (max-width: 992px)
{
	.presentation h2
	{
		font-size: 26px;
	}

	.presentation p
	{
		font-size: 20px;
	}

	.barres_filtres
	{
		display: flex;
		flex-wrap: wrap;
	}

	.phrase_information p
	{
		margin-top: 30px;
	}

	.phrase_information i
	{
		margin-left: 50px;
	}

	.annonces_hebergements
	{
		height: 1580px;
	}

	.pic2, .pic3, .pic4, .pic5, .pic6
	{
		margin-left: 35px;
	}

	.populaires
	{
		width: 320px;
		height: 660px;
	}

	.populaires figcaption
	{
		padding-left: 15px;
	}

	#etoile_populaire
	{
		margin-left: 280px;
	}

	.pic7, .pic8, .pic9
	{
		width: 290px;
		height: 150px;
		margin-left: 15px;
	}

	.pic7 img, .pic8 img, .pic9 img
	{
		height: 145px;
	}

	.photos_activites_ordi
	{
		display: flex;
		flex-wrap: wrap;
	}

	.pic13
	{
		margin-left: 38px;
	}


}



	/* MAIN RESPONSIVE MOBILE*/

@media screen and (max-width: 768px)
{
	h2
	{
		width: 100%;
		font-size: 25px;
		line-height: 30px;
	}

	.presentation p
	{
		width: 100%;
		font-size: 18px;
		line-height: 20px;
	}

	form
	{
		margin-left: 70px;
	}

	#champ
	{
		display: none;
	}

	#champ_mobile
	{
		display: flex;
		height: 60px;
		margin-top: 30px;
	}

	#champ_mobile input
	{
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: 20px;
		border-color: #F2F2F2;
		border-width: 1px;
		padding-left: 25px;
	}

	#bouton
	{
		display: none;
	}

	#logo_position
	{
		display: none;
	}

	#logo_position_mobile
	{
		display: flex;
		position: absolute;
		background-color: #F2F2F2;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		margin-top: 30px;
		margin-left: 15px;
		height: 60px;
		width: 60px;
	}

	#logo_position_mobile svg
	{
		width: 25px;
		height: 40px;
		margin-top: 10px;
		margin-left: 18px;
	}

	#logo_loupe_mobile
	{
		display: flex;
		position: absolute;
		margin-top: 30px;
		margin-left: 230px;
		color: #FFFFFF;
		background-color: #0065FC;
		border-radius: 20px;
		width: 60px;
		height: 60px;
	}

	#logo_loupe_mobile svg
	{
		height: 40px;
		width: 25px;
		position: relative;
		margin-left: 18px;
		margin-top: 10px;
	}

	.filtres
	{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.barres_filtres
	{
		display: flex;
		flex-wrap: wrap;
		margin-top: 0px;
	}

	.filtres h3
	{
		font-size: 20px;
		margin-left: 20px;
	}

	.filtres figure
	{
		height: 50px;
		margin-left: 20px;
		border-width: 3px;
		border-radius: 55px;
	}

	.filtres figcaption
	{
		font-size: 17px;
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 15px;
	}

	.filtres i
	{
		font-size: 25px;
		height: 28px;
		width: 40px;
		margin-left: -5px;
		border-radius: 60px;
		padding-left: 15px;
		padding-top: 25px;
	}

	#logo_animaux_autorises
	{
		height: 30px;
		width:  42px;
	}

	.phrase_information p
	{
		margin-top: 20px;
		margin-left: 50px;
		font-size: 17px;
	}

	.phrase_information i
	{
		margin-left: 15px;
		font-size: 18px;
		padding-left: 10px;
		padding-top: 2px;
		height: 22px;
		width: 15px;
	}

	.bloc_hebergements_et_populaires
	{
		display: inline-flex;
		flex-direction: column;
		height: 2400px;
		width: 100%;
	}

	.populaires p, .annonces_hebergements p
	{
		font-size: 22px;
		padding-left: 20px;
	}

	#etoile_populaire
	{
		font-size: 18px;
		margin-left: 86%;
		margin-top: -45px;
	}

	.populaires
	{
		order: -1;
		margin-left: 0px;
		width: 100%;
		height: 650px;
		border-radius: 0px;
	}

	.populaires figcaption
	{
		padding-top: 15px;
		padding-left: 15px;
	}

	.populaires figcaption, .annonces_hebergements figcaption, #afficher_plus p, .annonces_activites figcaption
	{
		font-size: 17px;
	}

	.populaires span, .annonces_hebergements span
	{
		font-size: 14px;
		line-height: 25px;
	}

	.pic7, .pic8, .pic9
	{
		margin-left: 20px;
		padding-top: 6px;
		border-radius: 20px;
		width:  85%;
		height: 140px;
	}

	.pic7 img, .pic8 img, .pic9 img
	{
		width: 138px;
		height: 134px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	.photos_populaires
	{
		margin-top: 60px;
	}

	.photos_populaires i
	{
		line-height: 60px;
	}

	.annonces_hebergements
	{
		background-color: #FFFFFF;
		width: 100%;
		margin-top: 50px;
		margin-left: 0px;
	}

	.photos_hebergements
	{
		display: flex;
		flex-direction: column;
	}

	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6
	{
		width: 330px;
		height: 210px;
		border-radius: 20px;
		margin-left: 20px;
	}

	.pic1 img, .pic2 img, .pic3 img, .pic4 img, .pic5 img, .pic6 img
	{
		width: 323px;
		height: 120px;
		padding-left: 1px;
		padding-top: 1px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}

	.photos_hebergements figcaption
	{
		padding-left: 15px;
	}

	.annonces_hebergements figcaption, .annonces_hebergements span
	{
		line-height: 25px;
	}

	.annonces_hebergements i
	{
		line-height: 16px;
	}

	#afficher_plus p
	{
		padding-left: 20px;
		font-size: 20px;
	}

	#activites_a_marseille
	{
		margin-top: 0px;
		margin-left: 20px;
		font-size: 22px;
	}

	.photos_activites_ordi
	{
		display: none ;
	}

	.photos_activites_mobile
	{
		display: flex;
		flex-direction: column;
	}

	.pic_mobile1, .pic_mobile2, .pic_mobile3, .pic_mobile4, .pic_mobile5, .pic_mobile6
	{
		margin-left: 25px;
		width: 320px;
		height: 190px;
		background-color: #FFFFFF;
		border-radius: 20px;
		box-shadow: 0px 0px 8px lightgrey;
	}

	.pic_mobile1 img, .pic_mobile2 img, .pic_mobile3 img, .pic_mobile4 img, .pic_mobile5 img, .pic_mobile6 img
	{
		width: 320px;
		height: 140px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}

	.photos_activites_mobile figcaption
	{
		padding-top: 10px;
		padding-left: 15px;
	}

}

	/*FIN DU MAIN*/


	
	/********** FOOTER **********/

	footer
	{
		display: flex;
		flex-direction: row;
		margin-top: 40px;
		background-color: #F2F2F2;
		width: 1430px;
		height: 220px;
	}

	footer p
	{
		margin-top: -40px;
	}


	.a_propos
	{
		margin-top: 30px;
		margin-left: 50px;
	}

	.nos_hebergements
	{
		margin-top: 30px;
		margin-left: 200px;
	}

	.assistance
	{
		margin-top: 30px;
		margin-left: 300px;
	}

	.a_propos, .nos_hebergements, .assistance
	{
		line-height: 30px;
	}



	/*FOOTER RESPONSIVE REDUCTION D'ECRAN*/


@media screen and (min-width: 992px) and (max-width: 1108px)
{
	.nos_hebergements
	{
		margin-top: 30px;
		margin-left: 120px;
	}

	.assistance
	{
		margin-top: 30px;
		margin-left: 220px;
	}
}



@media screen and (min-width: 769px) and (max-width: 992px)
{
	.nos_hebergements
	{
		margin-top: 30px;
		margin-left: 50px;
	}

	.assistance
	{
		margin-top: 30px;
		margin-left: 110px;
	}
}


	/*FOOTER RESPONSIVE MOBILE*/

@media screen and (max-width: 768px)
{
	footer
	{
		display: flex;
		flex-direction: column;
		font-size: 17px;
		width: 100%;
		height: 600px;
	}

	footer p
	{
		line-height: 30px;
	}

	.a_propos, .nos_hebergements, .assistance
	{
		margin-left: 40px;
	}

}

	/*FIN DU FOOTER*/
